## Obtem Schemas
#set ($schemas = $catalog.getSchemas())
#***##foreach($schema in $schemas)
#**	*##if((!$catalog.getTables($schema).isEmpty())&&(!$nomeSchemaFull.contains("COPY")))
###**		*#CREATE SCHEMA IF NOT EXISTS #**$schema.getCatalogName()COPY.*#$nomeSchemaFullCOPY;
#set ($nomeSchemaFull = $schema.getFullName())
#**		*#CREATE SCHEMA IF NOT EXISTS $nomeSchemaFull;
## Obtem Tabelas
#**		*##foreach($table in $catalog.getTables($schema))
###**			*#CREATE TABLE IF NOT EXISTS $nomeSchemaFullCOPY.$table.getName()(
#**			*#CREATE TABLE IF NOT EXISTS $nomeSchemaFull.$table.getName()(
## Obtem Colunas
#**			*##foreach($coluna in $table.getColumns())
#**				*#$coluna.getName() $coluna.getColumnDataType()#if($coluna.getColumnDataType() == "VARCHAR"||$coluna.getColumnDataType() == "varchar") ($coluna.getSize())#end#if($coluna.isAutoIncremented()) AUTO_INCREMENT#end#if(!$coluna.isNullable()) NOT NULL#end#if( $foreach.hasNext ),
#**				*##else
#**				*#
#**				*##end
#**			*##end
#**		*#);
##Primary key: $table.hasPrimaryKey()
#**		*#
#**		*##end
#**	*##end
#***##end
## Gerar PK
#***##foreach($schema in $schemas)
#**	*##if((!$catalog.getTables($schema).isEmpty())&&(!$nomeSchemaFull.contains("COPY")))
## Obtem Tabelas
#**		*##foreach($table in $catalog.getTables($schema))
#**			*##if($table.hasPrimaryKey())
###**				*#ALTER TABLE $nomeSchemaFullCOPY.$table.getName() ADD PRIMARY KEY ($table.getPrimaryKey().getColumns().get(0).getName());
#**				*#ALTER TABLE $nomeSchemaFull.$table.getName()
#**             *#ADD CONSTRAINT $table.getName()_pkey PRIMARY KEY ($table.getPrimaryKey().getColumns().get(0).getName());
#**			*##end
#**		*##end
#**	*##end
#***##end

## Gerar FK
#***##foreach($ref in $mapaFKs.keySet())
ALTER TABLE $mapaFKs.get($ref).getForeignKeyColumn().getParent()
ADD CONSTRAINT $ref FOREIGN KEY ($mapaFKs.get($ref).getForeignKeyColumn().getName())
REFERENCES $mapaFKs.get($ref).getPrimaryKeyColumn().getParent() ($mapaFKs.get($ref).getPrimaryKeyColumn().getName())
ON UPDATE no action
ON DELETE no action
;
#***##end